* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $text-font;
}

h1,
h2,
h3,
h5,
h6,
p {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #222;
}

li {
    list-style: none;
}